output "HDMI-A-1" {
    mode "1920x1080@165.000"
    scale 1
    transform "normal"
    focus-at-startup
}

output "eDP-1" {
    mode "1920x1080@60.030"
    // scale 1.25
    position x=0 y=0
    transform "normal"
    focus-at-startup
}

environment {
    DISPLAY ":0"
    XWAYLAND_ENABLE "1"
    NIXOS_OZONE_WL "1"
    GTK_USE_PORTAL "1"
    //GTK_THEME "Adwaita"
    GDK_SCALE "1"
    GDK_BACKEND "wayland"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "kde"
    //QT_QPA_PLATFORMTHEME "qt6ct"
    //QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    MOZ_ENABLE_WAYLAND "1"
    XDG_MENU_PREFIX "plasma-"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

hotkey-overlay {
    skip-at-startup
}

workspace "one"
workspace "two"
workspace "three"
workspace "chat"
workspace "misc"

binds {

    // Navigation
    Mod+Left hotkey-overlay-title=null { focus-column-left; }
    Mod+Right hotkey-overlay-title=null { focus-column-right; }
    Mod+Up { focus-window-or-workspace-up; }
    Mod+Down { focus-window-or-workspace-down; }
    Mod+Ctrl+Left { focus-monitor-left; }
    Mod+Ctrl+Right { focus-monitor-right; }

    // Size adjusting
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Workspace Navigation (Numeric)
    Mod+1 { focus-workspace "one"; }
    Mod+2 { focus-workspace "two"; }
    Mod+3 { focus-workspace "three"; }
    Mod+4 { focus-workspace "chat"; }
    Mod+5 { focus-workspace "misc"; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    // Move window to Workspace (Numeric)
    Mod+Shift+1 { move-column-to-workspace "one"; }
    Mod+Shift+2 { move-column-to-workspace "two"; }
    Mod+Shift+3 { move-column-to-workspace "three"; }
    Mod+Shift+4 { move-column-to-workspace "chat"; }
    Mod+Shift+5 { move-column-to-workspace "misc"; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }

    // Move column //
    Mod+Shift+Left hotkey-overlay-title=null { move-column-left; }
    Mod+Shift+Right hotkey-overlay-title=null { move-column-right; }
    Mod+Shift+Down { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Down hotkey-overlay-title=null { move-column-to-workspace-down; }
    Mod+Ctrl+Up hotkey-overlay-title=null { move-column-to-workspace-up; }
    Mod+Ctrl+Shift+Up hotkey-overlay-title=null { move-workspace-up; }
    Mod+Ctrl+Shift+Down hotkey-overlay-title=null { move-workspace-down; }
    Mod+Ctrl+Shift+Right { move-workspace-to-monitor-right; }
    Mod+Ctrl+Shift+Left { move-workspace-to-monitor-left; }
    

    // Unify or expel columns with each other
    Mod+BracketLeft hotkey-overlay-title=null { consume-or-expel-window-left; }
    Mod+bracketRight hotkey-overlay-title=null { consume-or-expel-window-right; }

    Mod+Shift+R hotkey-overlay-title="Maximize column ⌞ ⌝" { maximize-column; }

    Mod+R hotkey-overlay-title="Switch window height ↔" { switch-preset-column-width; }

    Mod+Ctrl+R hotkey-overlay-title="Switch window height ↕" { switch-preset-window-height; }

    Mod+Shift+F hotkey-overlay-title="Fullscreen window ⛶" { fullscreen-window; }

    Mod+Ctrl+Shift+F { toggle-windowed-fullscreen; } // Usefull for presentations

    Mod+C hotkey-overlay-title="Center column ⌖" { center-column; }
    
    Mod+Ctrl+C { center-visible-columns; } // Center all fully visible columns on screen.
    
    Mod+T hotkey-overlay-title="Toggle window tabs ≡" { toggle-column-tabbed-display; }

    Mod+Shift+Q hotkey-overlay-title=null repeat=false { close-window; }

    Mod+F hotkey-overlay-title="Toggle window floating 〰" { toggle-window-floating; }

    //Mod+P { toggle-window-pinned; } // To see when pinned windows add added

    Mod+Ctrl+F hotkey-overlay-title=null { switch-focus-between-floating-and-tiling; }

    Mod+Tab hotkey-overlay-title=null repeat=false { toggle-overview; }

    Mod+Escape { toggle-keyboard-shortcuts-inhibit;}
                
    // App Launchers
    Mod+Shift+Return hotkey-overlay-title="Open Konsole 💻" { spawn "konsole"; }
    Mod+Return hotkey-overlay-title="Open Ghostty 👻" { spawn "ghostty"; }
    Mod+B hotkey-overlay-title="Open Browser 🌐" { spawn "firefox"; }
    Mod+E hotkey-overlay-title="Open File Explorer 📂" { spawn "dolphin"; }
    Alt+Space hotkey-overlay-title="App Launcher 🚀" { spawn "vicinae" "toggle"; }
    Alt+Shift+Space { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle" ; }
    XF86Search { spawn "vicinae" "toggle"; }


    //"XF86Calculator".action = spawn ""; to be added

    // Screen capture
    Print hotkey-overlay-title=null { screenshot-screen show-pointer=false; }
    Mod+Shift+S hotkey-overlay-title=null { screenshot show-pointer=false; }

    // Mouse & Trackpad Scroll Bindings
    Mod+WheelScrollDown hotkey-overlay-title=null cooldown-ms=50 { focus-workspace-down; }
    Mod+WheelScrollUp hotkey-overlay-title=null cooldown-ms=50 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=50 { focus-column-right; }
    Mod+Shift+WheelScrollUp cooldown-ms=50 { focus-column-left; }
    Mod+WheelScrollRight cooldown-ms=50 { focus-column-right; }
    Mod+WheelScrollLeft cooldown-ms=50 { focus-column-left; }

    // Multimedia & Hardware Controls
    //XF86AudioRaiseVolume allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
    //XF86AudioLowerVolume allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86AudioMicMute allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "muteInput"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "noctalia-shell ipc call brightness increase && ddcutil setvcp 10 + 5"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "noctalia-shell ipc call brightness decrease && ddcutil setvcp 10 - 5"; }
    XF86AudioPlay allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "playPause"; }
    XF86AudioNext allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "next"; }
    XF86AudioPrev allow-when-locked=true{ spawn "noctalia-shell" "ipc" "call" "media" "previous"; }

    //"Mod".action.spwan = "noctalia-shell" "ipc" "call" "controlCenter" "toggle"; // At the moment niri doesn't support release key

    // Vicinae
    Mod+Period hotkey-overlay-title="Emojis 🤠" { spawn "vicinae" "vicinae://extensions/vicinae/core/search-emojis";}
    Mod+Comma hotkey-overlay-title="Gifts 🎞️" { spawn "vicinae" "vicinae://extensions/josephschmitt/gif-search/search"; }
    Mod+Shift+B hotkey-overlay-title="Power profiles 🔋" { spawn "vicinae" "vicinae://extensions/botkooper/power-profile/power-profile"; }
    Mod+H hotkey-overlay-title="Clipboard history 📋" { spawn "vicinae" "vicinae://extensions/vicinae/clipboard/history"; }
    
    // Noctalia
    Mod+L hotkey-overlay-title="Lock screen 🔒" { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
    Mod+Shift+P hotkey-overlay-title="Light/Dark toggle 🌗" { spawn "noctalia-shell" "ipc" "call" "darkMode" "toggle"; }
    Mod+Space hotkey-overlay-title="Open Control Center ⚙️" { spawn "noctalia-shell" "ipc" "call" "controlCenter" "toggle"; }
    Mod+N hotkey-overlay-title="Show Notifications 🔔"  {spawn "noctalia-shell" "ipc" "call" "notifications" "toggleHistory"; }
    Mod+Shift+D hotkey-overlay-title="Toggle DND 🔕"  {spawn "noctalia-shell" "ipc" "call" "notifications" "toggleDND"; }
    Mod+Shift+N hotkey-overlay-title="Clear Notifications 🗑️"  {spawn "noctalia-shell" "ipc" "call" "notifications" "clear"; }
    
    
    // Back up for color change with the script
    // Mod+Shift+P { spawn "bash" "-c" "noctalia-shell ipc call darkMode toggle && plasma-apply-colorscheme -l | grep -q \"* afterburner-dark (current color scheme)\" && { plasma-apply-colorscheme afterburner-light; vicinae vicinae://theme/set/afterburnerLight; } || { plasma-apply-colorscheme afterburner-dark; vicinae vicinae://theme/set/afterburnerDark; }";}

    // Misc
    Mod+Shift+Slash hotkey-overlay-title=null { show-hotkey-overlay; }
    //Mod+Ctrl+Shift+Slash hotkey-overlay-title=null {spawn "noctalia-shell" "ipc" "call" "plugin:keybind-cheatsheet" "toggle";}
    Ctrl+Alt+Delete hotkey-overlay-title="Exit niri ❌"{ quit; }
}

layout {

    gaps 6

    center-focused-column "never"
    always-center-single-column

    background-color "transparent"
    default-column-width {}

    preset-column-widths {
        proportion 0.33334
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.33334
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    struts {
        left -4
        right -4
        top -4
        bottom -2
    }

    focus-ring {
        off
        // width 4
        // active-gradient from="#ff8c00" to="#3b82f6" angle=45 in="oklch shorter hue" 
        // inactive-color "#334155"
        // urgent-color "#ef4444"
    }

    // The border is a decoration drawn inside every window in the layout. It will take space away from windows. That is, if you have a border of 8px, then each window will be 8px smaller on each edge than if you had no border.
    // The currently focused window, i.e. the window that can receive keyboard input, will be drawn according to layout.border.active, and all other windows will be drawn according to layout.border.inactive.
    border {
        on
        width 4
        active-gradient from="#ff8c00" to="#3b82f6" angle=45 in="oklch shorter hue" 
        inactive-color "#94a3b8"
        urgent-color "#ef4444"
    }

    tab-indicator {
        // off
        on
        place-within-column
        gap 4
        width 8
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        corner-radius 4
        // active-color "red"
        // inactive-color "gray"
        // urgent-color "blue"
        active-gradient from="#ff8c00" to="#3b82f6" angle=375 in="oklch shorter hue" 
        inactive-color "#475569" 
        urgent-color "#ef4444"
    }

    shadow {
        on
        color "#00000055"
        offset x=0 y=4
    }
} 


recent-windows {

    highlight {
        active-color "#263248" 
        urgent-color "#ff3b3b"
        padding 30
        corner-radius 10
    }

}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

input {
    keyboard {
        xkb {
            layout "eu, pt";
            options "grp:alt_caps_toggle";
        }
        numlock
    }

    touchpad {
        dwt
        dwtp
        tap
        middle-emulation
        drag true
        natural-scroll
    }

    mouse {
        middle-emulation
    }

    focus-follows-mouse

    workspace-auto-back-and-forth
}

cursor {
    xcursor-theme "breeze"
    xcursor-size 24
    //hide-when-typing
    hide-after-inactive-ms 20000
}

overview {
    workspace-shadow {
        off
    }
}

switch-events {
    //lid-close { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "lockAndSuspend"; }
    lid-close { spawn "bash" "-c" "if ! niri msg outputs | grep -q \"HDMI-A-1\"; then noctalia-shell ipc call sessionMenu lockAndSuspend; fi"; }
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

layer-rule {
    match namespace="^quickshell-overview$"
    place-within-backdrop true
}

debug {
    honor-xdg-activation-with-invalid-serial
}

// Block out password managers from screencasts.
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^com\.spotify\.Client$"#
    match app-id=r#"^com\.rtosta\.zapzap$"#

    block-out-from "screencast"
}

window-rule {
    match at-startup=true app-id=r#"^firefox$"#

    open-on-workspace "one"
}

window-rule {
    match at-startup=true app-id=r#"^Notion$"#
    match at-startup=true app-id=r#"^eu\.betterbird\.Betterbird$"#

    open-on-workspace "two"
}

// Apps to open on chat
window-rule {
    match at-startup=true app-id=r#"^Slack$"#
    match at-startup=true app-id=r#"^com\.github\.IsmaelMartinez\.teams_for_linux$"#

    open-on-workspace "chat"
}

// Apps to open on misc
window-rule {
    match at-startup=true app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match at-startup=true app-id=r#"^spotify$"#

    open-on-workspace "misc"
}

// Block out notifications from screencasts.
layer-rule {
    match namespace="^notifications$"

    block-out-from "screencast"
}

// Set the regular wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

spawn-sh-at-startup "QT_QPA_PLATFORMTHEME=gtk3 noctalia-shell"
spawn-sh-at-startup "reload-rclone"
spawn-at-startup "firefox"
spawn-at-startup "notion-app"
spawn-at-startup "eu.betterbird.Betterbird"
spawn-at-startup "wl-paste --watch cliphist store"
spawn-sh-at-startup "sleep 10 && slack"
spawn-sh-at-startup "sleep 10 && com.github.IsmaelMartinez.teams_for_linux"
spawn-at-startup "com.spotify.Client"
spawn-at-startup "keepassxc"


animations {
    slowdown 1.15

    workspace-switch {
        spring damping-ratio=0.85 stiffness=700 epsilon=0.0001
    }

    horizontal-view-movement {
         spring damping-ratio=0.85 stiffness=700 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=0.65 stiffness=300 epsilon=0.0001
    }


    window-open {
      duration-ms 175
      curve "ease-out-quad"
      custom-shader r"
        vec4 zoom_in(vec3 coords_geo, vec3 size_geo) {
          float progress = niri_clamped_progress;
          float scale = progress;
          vec2 coords = (coords_geo.xy - vec2(0.5, 0.5)) * size_geo.xy;
          coords = coords / scale;
          coords_geo = vec3(coords / size_geo.xy + vec2(0.5, 0.5), 1.0);
          vec3 coords_tex = niri_geo_to_tex * coords_geo;
          vec4 color = texture2D(niri_tex, coords_tex.st);
          color.a *= progress;

          return color;
        }
        vec4 open_color(vec3 coords_geo, vec3 size_geo) {
          return zoom_in(coords_geo, size_geo);
        }
      "
    }

    // Original by Lemmy: https://github.com/ItsLemmy
    window-close {
      duration-ms 200
      curve "linear"
      custom-shader r"
        vec4 fall_and_rotate(vec3 coords_geo, vec3 size_geo) {
          float progress = niri_clamped_progress * niri_clamped_progress;
          vec2 coords = (coords_geo.xy - vec2(0.5, 1.0)) * size_geo.xy;
          coords.y -= progress * 1440.0;
          float random = (niri_random_seed - 0.5) / 2.0;
          random = sign(random) - random;
          float max_angle = 0.5 * random;
          float angle = progress * max_angle;
          mat2 rotate = mat2(cos(angle), -sin(angle), sin(angle), cos(angle));
          coords = rotate * coords;
          coords_geo = vec3(coords / size_geo.xy + vec2(0.5, 1.0), 1.0);
          vec3 coords_tex = niri_geo_to_tex * coords_geo;
          vec4 color = texture2D(niri_tex, coords_tex.st);
          color.a *= (1.0 - progress);

          return color;
        }
        vec4 close_color(vec3 coords_geo, vec3 size_geo) {
          return fall_and_rotate(coords_geo, size_geo);
        }
      "
    }
}

//include "./noctalia.kdl"
