output "HDMI-A-1" {
    mode "1920x1080@165.000"
    scale 1
    transform "normal"
    position x=1920 y=0
    focus-at-startup
}

output "eDP-1" {
    mode "1920x1080@60.030"
    scale 1.25
    transform "normal"
    position x=0 y=0
    focus-at-startup
}

environment {
    DISPLAY ":0"
    XWAYLAND_ENABLE "1"
    NIXOS_OZONE_WL "1"
    GTK_USE_PORTAL "1"
    GDK_SCALE "1"
    GDK_BACKEND "wayland"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "kde"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    MOZ_ENABLE_WAYLAND "1"
    XDG_MENU_PREFIX "plasma-"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

hotkey-overlay {
    skip-at-startup
}

workspace "one"
workspace "two"
workspace "three"
workspace "chat"
workspace "misc"

binds {

    // Navigation
    Mod+Left hotkey-overlay-title=null { focus-column-left; }
    Mod+Right hotkey-overlay-title=null { focus-column-right; }
    Mod+Up { focus-window-or-workspace-up; }
    Mod+Down { focus-window-or-workspace-down; }

    // Size adjusting
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Workspace Navigation (Numeric)
    Mod+1 { focus-workspace "one"; }
    Mod+2 { focus-workspace "two"; }
    Mod+3 { focus-workspace "three"; }
    Mod+4 { focus-workspace "chat"; }
    Mod+5 { focus-workspace "misc"; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    // Move window to Workspace (Numeric)
    Mod+Shift+1 { move-column-to-workspace "one"; }
    Mod+Shift+2 { move-column-to-workspace "two"; }
    Mod+Shift+3 { move-column-to-workspace "three"; }
    Mod+Shift+4 { move-column-to-workspace "chat"; }
    Mod+Shift+A { move-column-to-workspace "misc"; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }

    // Move column //
    Mod+Shift+Left hotkey-overlay-title=null { move-column-left; }
    Mod+Shift+Right hotkey-overlay-title=null { move-column-right; }
    Mod+Shift+Down { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Down hotkey-overlay-title=null { move-column-to-workspace-down; }
    Mod+Ctrl+Up hotkey-overlay-title=null { move-column-to-workspace-up; }

    // Unify or expel columns with each other
    Mod+BracketLeft hotkey-overlay-title=null { consume-or-expel-window-left; }
    Mod+bracketRight hotkey-overlay-title=null { consume-or-expel-window-right; }

    Mod+Ctrl+R hotkey-overlay-title="Maximize column ⌞ ⌝" { maximize-column; }

    Mod+R hotkey-overlay-title="Switch window height ↔" { switch-preset-column-width; }

    Mod+Shift+R hotkey-overlay-title="Switch window height ↕" { switch-preset-window-height; }

    Mod+Ctrl+F hotkey-overlay-title="Fullscreen window ⛶" { fullscreen-window; }

    Mod+Ctrl+Shift+F { toggle-windowed-fullscreen; } // Usefull for presentations

    Mod+C hotkey-overlay-title="Center column ⌖" { center-column; }
    
    Mod+Ctrl+C { center-visible-columns; } // Center all fully visible columns on screen.
    
    Mod+T hotkey-overlay-title="Toggle window tabs ≡" { toggle-column-tabbed-display; }

    Mod+Shift+Q hotkey-overlay-title=null repeat=false { close-window; }

    Mod+F hotkey-overlay-title="Toggle window floating 〰" { toggle-window-floating; }

    Mod+Shift+F hotkey-overlay-title=null { switch-focus-between-floating-and-tiling; }

    Mod+Tab hotkey-overlay-title=null repeat=false { toggle-overview; }
                
    // App Launchers
    Mod+Shift+Return hotkey-overlay-title="Open Konsole 💻" { spawn "konsole"; }
    Mod+Return hotkey-overlay-title="Open Ghostty 👻" { spawn "ghostty"; }
    Mod+B hotkey-overlay-title="Open Browser 🌐" { spawn "firefox"; }
    Mod+E hotkey-overlay-title="Open File Explorer 📂" { spawn "dolphin"; }
    Alt+Space hotkey-overlay-title="App Launcher 🚀" { spawn "vicinae" "toggle"; }
    XF86Search { spawn "vicinae" "toggle"; }


    //"XF86Calculator".action = spawn ""; to be added

    // Screen capture
    Print hotkey-overlay-title=null { screenshot-window; }
    Mod+Shift+S hotkey-overlay-title=null { screenshot; }

    // Mouse & Trackpad Scroll Bindings
    Mod+WheelScrollDown hotkey-overlay-title=null cooldown-ms=50 { focus-workspace-down; }
    Mod+WheelScrollUp hotkey-overlay-title=null cooldown-ms=50 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=50 { focus-column-right; }
    Mod+Shift+WheelScrollUp cooldown-ms=50 { focus-column-left; }
    Mod+WheelScrollRight cooldown-ms=50 { focus-column-right; }
    Mod+WheelScrollLeft cooldown-ms=50 { focus-column-left; }

    // Multimedia & Hardware Controls
    //XF86AudioRaiseVolume allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
    //XF86AudioLowerVolume allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86AudioMicMute allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "muteInput"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }
    XF86AudioPlay allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "playPause"; }
    XF86AudioNext allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "next"; }
    XF86AudioPrev allow-when-locked=true{ spawn "noctalia-shell" "ipc" "call" "media" "previous"; }

    //"Mod".action.spwan = "noctalia-shell" "ipc" "call" "controlCenter" "toggle"; // At the moment niri doesn't support release key

    // Vicinae
    Mod+Period hotkey-overlay-title="Emojis 🤠" { spawn "vicinae" "vicinae://extensions/vicinae/core/search-emojis";}
    Mod+Comma hotkey-overlay-title="Gifts 🎞️" { spawn "vicinae" "vicinae://extensions/josephschmitt/gif-search/search"; }
    Mod+Shift+B hotkey-overlay-title="Power profiles 🔋" { spawn "vicinae" "vicinae://extensions/botkooper/power-profile/power-profile"; }
    Mod+H hotkey-overlay-title="Clipboard history 📋" { spawn "vicinae" "vicinae://extensions/vicinae/clipboard/history"; }
    
    // Noctalia
    Mod+L hotkey-overlay-title="Lock screen 🔒" { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
    Mod+Shift+P hotkey-overlay-title="Light/Dark toggle 🌗" { spawn "noctalia-shell" "ipc" "call" "darkMode" "toggle"; }
    //Mod+Shift+P { spawn "bash" "-c" "noctalia-shell ipc call darkMode toggle && if plasma-apply-colorscheme BreezeDark | grep -q \"BreezeDark\"; then plasma-apply-colorscheme BreezeLight; fi";}

    // Misc
    Mod+Shift+Slash hotkey-overlay-title=null { show-hotkey-overlay; }
    Ctrl+Alt+Delete hotkey-overlay-title="Exit niri ❌"{ quit; }
}

layout {
    // Gaps and struts are the one to be more customized

    gaps 8

    center-focused-column "on-overflow"
    always-center-single-column

    background-color "transparent"
    default-column-width {}

    preset-column-widths {
        proportion 0.33334
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.33334
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    struts {
        //left 4
        //right 4
        top -2
        bottom -2
    }

    focus-ring {
        on
        width 4
        active-gradient from="#ff8a2a" to="#8fd3ff" angle=45 in="oklch shorter hue" relative-to="workspace-view" 
        //active-color "#ff8a2a"
        inactive-color "#263248" 
        urgent-color "#ff3b3b"     
    }

    // The border is a decoration drawn inside every window in the layout. It will take space away from windows. That is, if you have a border of 8px, then each window will be 8px smaller on each edge than if you had no border.
    // The currently focused window, i.e. the window that can receive keyboard input, will be drawn according to layout.border.active, and all other windows will be drawn according to layout.border.inactive.
    border {
        off
        //width 4
        //active-color "#7fc8ff"
        //inactive-color "#505050"
        //urgent-color "#9b0000"
    }

    tab-indicator {
        // off
        on
        place-within-column
        gap 4
        width 8
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        corner-radius 4
        // active-color "red"
        // inactive-color "gray"
        // urgent-color "blue"
        active-color "#ff5a1f"
        inactive-color "#263248" 
        urgent-color "#ff3b3b"
    }

    shadow {
        on
        color "#00000055"
        offset x=0 y=4
    }
} 

recent-windows {

    highlight {
        active-color "#263248" 
        urgent-color "#ff3b3b"
        padding 30
        corner-radius 10
    }

}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

input {
    keyboard {
        xkb {
            layout "eu, pt";
            options "grp:alt_caps_toggle";
        }
        numlock
    }

    touchpad {
        dwt
        dwtp
        tap
        middle-emulation
        drag true
        natural-scroll
    }

    mouse {
        middle-emulation
    }

    focus-follows-mouse

    workspace-auto-back-and-forth
}

cursor {
    xcursor-theme "breeze"
    xcursor-size 24
    //hide-when-typing
    hide-after-inactive-ms 20000
}

overview {
    workspace-shadow {
        off
    }
}

switch-events {
    //lid-close { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "lockAndSuspend"; }
    lid-close { spawn "bash" "-c" "if ! niri msg outputs | grep -q \"HDMI-A-1\"; then noctalia-shell ipc call sessionMenu lockAndSuspend; fi"; }
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

layer-rule {
    match namespace="^quickshell-overview$"
    place-within-backdrop true
}

debug {
    honor-xdg-activation-with-invalid-serial
}

// Block out password managers from screencasts.
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^com.spotify.Client$"#

    block-out-from "screencast"
}

window-rule {
    match app-id=r#"^Notion$"#

    open-on-workspace "two"
}

// Apps to open on chat
window-rule {
    match app-id=r#"^Slack$"#
    match app-id=r#"^teams-for-linux$"#

    open-on-workspace "chat"
}

// Apps to open on misc
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^Spotify$"#

    open-on-workspace "misc"
}

// Block out notifications from screencasts.
layer-rule {
    match namespace="^notifications$"

    block-out-from "screencast"
}

// Set the regular wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

spawn-sh-at-startup "QT_QPA_PLATFORMTHEME=gtk3 noctalia-shell"
spawn-at-startup "keepassxc"
spawn-at-startup "com.spotify.Client"
spawn-at-startup "slack"
spawn-at-startup "teams-for-linux"
spawn-at-startup "firefox"
spawn-at-startup "wl-paste --watch cliphist store"
// notion and thunderbird

//include "./noctalia.kdl"
